<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar">
      <a class="navbar" routerLink="/" style="text-decoration: none;font-weight: bold;font-size: 20px;">Online Test</a>
    </span>
    <span class="navbar"></span>
  <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="nav navbar-nav ml-auto">
  </ul>

</header>