<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="icon-speedometer"></i> MENU </a>
      </li>      
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-book-open"></i>EXAM</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="icon-book-open"></i>EXAM TAKING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="icon-book-open"></i>GROUP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="icon-book-open"></i>TEST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/takers"><i class="icon-book-open"></i>TAKER</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-book-open"></i>BANK</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink="/questions"><i class="icon-book-open"></i>QUESTION</a>
          </li>
        </ul>
      </li>

      <li class="nav-item ">
        <a class="nav-link"  routerLink="/users" ><i class="icon-people"></i> USERS</a>
      </li>
      <!-- <li class="divider"></li> -->
      

    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>